In [1]:
import pandas as pd
import numpy as np
import os, re

df = pd.read_csv(r'G:\Programming\python\NLP\DecoLexO\DecoLexO\Edit\example\DecoLex_Test.csv')


####행 이름 decolex처럼 변경하기####

#첫 행 살리기
first = list(df.columns)
df.loc[0] = first
for val in first:
    if 'Unnamed' in val:
        x = first.index(val)
        first[x] = np.nan
df.loc[0] = first

#행 이름 설정해주기
col_nme = ['Lemma','Category','Morph1']

l = len(df.columns)
for i in range(1, l - 2):
    info = 'info' + str(i)
    col_nme.append(info)

df.columns = col_nme

In [2]:
df

    Lemma Category Morph1
0    가나다순     NS02    NaN
1      개중     NS02    NaN
2     갱스터     NS01    NaN
3     검식관     NS02    NaN
4     격식체     NS01    NaN
..    ...      ...    ...
371    중장     NS02    NaN
372   증후군     NS02    NaN
373   지상전     NS02    NaN
374   지아이     NS01    NaN
375   지은이     NS01    NaN

[376 rows x 3 columns]

In [3]:
df.loc[len(df)] = np.nan
print(df)

    Lemma Category Morph1
0    가나다순     NS02    NaN
1      개중     NS02    NaN
2     갱스터     NS01    NaN
3     검식관     NS02    NaN
4     격식체     NS01    NaN
..    ...      ...    ...
372   증후군     NS02    NaN
373   지상전     NS02    NaN
374   지아이     NS01    NaN
375   지은이     NS01    NaN
376   NaN      NaN    NaN

[377 rows x 3 columns]

In [5]:
print(len(df))

377

In [7]:
df = df.drop(len(df) - 1, 0)
print(df)

    Lemma Category Morph1
0    가나다순     NS02    NaN
1      개중     NS02    NaN
2     갱스터     NS01    NaN
3     검식관     NS02    NaN
4     격식체     NS01    NaN
..    ...      ...    ...
371    중장     NS02    NaN
372   증후군     NS02    NaN
373   지상전     NS02    NaN
374   지아이     NS01    NaN
375   지은이     NS01    NaN

[376 rows x 3 columns]