In [26]:
import pandas as pd
import numpy as np
import os, re

df = pd.read_csv(r'E:\Programming\python\NLP\DecoLexO\DecoLexO\Edit\example\DECO-Ver5.2-NS-2019-Kernel-DevTest.csv',encoding='utf8')


####행 이름 decolex처럼 변경하기####

#첫 행 살리기
col_rgx = re.compile(r'[A-Za-z]{6,}[:\.]?')
first = list(df.columns)
df.loc[0] = first
for val in first:
    m = col_rgx.match(val)
    if m:
        x = first.index(val)
        first[x] = np.nan
    else:
        continue
df.loc[0] = first

#행 이름 설정해주기
col_nme = ['Lemma','Category','Morph1']

l = len(df.columns)
for i in range(1, l - 2):
    info = 'info' + str(i)
    col_nme.append(info)

df.columns = col_nme


#편집을 원하는 행을 리스트화 하는 함수
#df에는 불러온 데이터프레임을 넣고 col에는 수정 원하는 행 이름을 삽입
def df2first(df,col):
    col_first = list(df.columns)
    x = col_first.index(col)
    res = df.iloc[:,x:x+1].values.tolist()
    res = sum(res,[])
    return res

#add하기    
def add(df, col, add_place, add_text):
    res = []
    first = df2first(df,col)
    if add_place == 'begin':
        for x in first:
            res.append(add_text + x)
    if add_place == 'end':
        for x in first:
            res.append(x + add_text)   
    #열 추가
    del df[col]
    df[col] = res
    
    #열 위치 재정렬
    df = df[col_nme]
    
    return(df)

n_df = add(df, input('수정을 원하는 행 이름 선택(Lemma, Category) '), input('begin or end? '), input('add text: '))

df2csv(n_df, r'E:\Programming\python\NLP\DecoLexO\DecoLexO\Edit\results\result.csv')

In [25]:
##csv파일로 만들기
def df2csv(df, filepath):
    df.to_csv(filepath, header=False, index=False, na_rep='')

In [15]:
n_df

,Lemma,Category,Morph1,info1,info2,info3,info4,info5,info6,info7,...,info53,info54,info55,info56,info57,info58,info59,info60,info61,info62
0,add가게,NS01,ZNZ,LEO,SLB,HAL,MCO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,add가결,NS03,ZNZ,LEO,SLB,PHV,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,add가계,NS01,ZNZ,LEO,SLB,NAB,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,add가곡,NS02,ZNX,PXN,NZX,SLB,LEO,HAL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,add가공,NS02,ZNM,LEO,SLB,PSN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,XCUL,XSIN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,add동사,NS01,ZNZ,LEO,SLB,NAB,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,add동산,NS02,ZNX,PXN,NZX,SLB,LEO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,add동상,NS02,ZNX,SXN,NZX,SLB,LEO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,XCUL,XECO,NaN,NaN,NaN
1996,add동생,NS02,ZNZ,LEO,SLB,MCO,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,XSWN,NaN,NaN,NaN,NaN,NaN
1997,add동선,NS02,ZNZ,LEO,SLB,PHV,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN