In [1]:
import pandas as pd
import numpy as np
import os, re

df = pd.read_csv(r'G:\Programming\python\NLP\DecoLexO\DecoLexO\Edit\example\DECO-Ver5.2-NS-2019-Kernel-DevTest.csv')


####행 이름 decolex처럼 변경하기####

#첫 행 살리기
first = list(df.columns)
df.loc[0] = first
for val in first:
    if 'Unnamed' in val:
        x = first.index(val)
        first[x] = np.nan
df.loc[0] = first

#행 이름 설정해주기
col_nme = ['Lemma','Category','Morph1']

l = len(df.columns)
for i in range(1, l - 2):
    info = 'info' + str(i)
    col_nme.append(info)

df.columns = col_nme

df

,Lemma,Category,Morph1,info1,info2,info3,info4,info5,info6,info7,...,info53,info54,info55,info56,info57,info58,info59,info60,info61,info62
0,가게,NS01,ZNZ,LEO,SLB,HAL,MCO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,가결,NS03,ZNZ,LEO,SLB,PHV,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,가계,NS01,ZNZ,LEO,SLB,NAB,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,가곡,NS02,ZNX,PXN,NZX,SLB,LEO,HAL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,가공,NS02,ZNM,LEO,SLB,PSN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,XCUL,XSIN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,동사,NS01,ZNZ,LEO,SLB,NAB,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,동산,NS02,ZNX,PXN,NZX,SLB,LEO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,동상,NS02,ZNX,SXN,NZX,SLB,LEO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,XCUL,XECO,NaN,NaN,NaN
1996,동생,NS02,ZNZ,LEO,SLB,MCO,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,XSWN,NaN,NaN,NaN,NaN,NaN
1997,동선,NS02,ZNZ,LEO,SLB,PHV,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#편집을 원하는 행을 리스트화 하는 함수
#df에는 불러온 데이터프레임을 넣고 col에는 수정 원하는 행 이름을 삽입
def df2first(df,col):
    col_first = list(df.columns)
    x = col_first.index(col)
    res = df.iloc[:,x:x+1].values.tolist()
    res = sum(res,[])
    return res

#시작 혹은 끝 부분을 검색하기
def reg(loc,old_text):
    if loc == 'begin':
        regex = '^' + old_text
    if loc == 'end':
        regex = old_text + '$'
    return(regex)
   
col = df2first(df, 'Lemma')
print(col)

In [16]:
a = '가락지'
b = a.split()
print(list(a))
a = re.sub('락','구',a)
print(a)

['가', '락', '지']
가구지

In [4]:
print(df)
col = df2first(df, 'Lemma')

res = []
N_t = input('New text: ')
z = input('old text: ')
rpl_nme = input('range: ')

for x in col:
    if rpl_nme == 'whole string':
        if z == x:
            col = re.sub(z, N_t, x)
            res.append(col)
    if rpl_nme == 'anywhere':
        if z in x:
            i = col.index(x)
            x = re.sub(z, N_t, x)
            col.insert(i,x)            
    if rpl_nme == 'begin':
        col = re.sub('^'+z, N_t, x)
        res.append(col)
    if rpl_nme == 'end':
        col = re.sub(z + '$', N_t, x)
        res.append(col)

        
# #열 추가
# del df[col]
# df[col] = res

# #열 위치 재정렬
# df = df[col_nme]

print(col)

     Lemma Category Morph1 info1 info2 info3 info4 info5 info6 info7  ...  \
0       가게     NS01    ZNZ   LEO   SLB   HAL   MCO   NaN   NaN   NaN  ...
1       가결     NS03    ZNZ   LEO   SLB   PHV   NaN   NaN   NaN   NaN  ...
2       가계     NS01    ZNZ   LEO   SLB   NAB   NaN   NaN   NaN   NaN  ...
3       가곡     NS02    ZNX   PXN   NZX   SLB   LEO   HAL   NaN   NaN  ...
4       가공     NS02    ZNM   LEO   SLB   PSN   NaN   NaN   NaN   NaN  ...
...    ...      ...    ...   ...   ...   ...   ...   ...   ...   ...  ...
1993    동사     NS01    ZNZ   LEO   SLB   NAB   NaN   NaN   NaN   NaN  ...
1994    동산     NS02    ZNX   PXN   NZX   SLB   LEO   NaN   NaN   NaN  ...
1995    동상     NS02    ZNX   SXN   NZX   SLB   LEO   NaN   NaN   NaN  ...
1996    동생     NS02    ZNZ   LEO   SLB   MCO   NaN   NaN   NaN   NaN  ...
1997    동선     NS02    ZNZ   LEO   SLB   PHV   NaN   NaN   NaN   NaN  ...

     info53 info54 info55 info56 info57 info58 info59 info60 info61 info62
0       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4       NaN    NaN    NaN    NaN    NaN   XCUL   XSIN    NaN    NaN    NaN
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
1993    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1994    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1995    NaN    NaN    NaN    NaN    NaN   XCUL   XECO    NaN    NaN    NaN
1996    NaN    NaN    NaN    NaN   XSWN    NaN    NaN    NaN    NaN    NaN
1997    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

[1998 rows x 65 columns]
New text: 가
old text: 게
range: anywhere

KeyboardInterrupt:

In [ ]:
print(col)
col = df2first(df, 'Lemma')
res = []
N_t = input('New text: ')
z = input('old text: ')
rpl_nme = input('range: ')


if rpl_nme == 'anywhere':
    for x in col:
        if z in x:
            col = re.sub(z, N_t, x)
            print(col)
            res.append(x)
            
print(res)

돈구스