In [31]:
import pandas as pd
import numpy as np
import os, re

df = pd.read_csv(r'E:\Programming\python\NLP\DecoLexO\DecoLexO\Edit\example\DECO-Ver5.2-NS-2019-Kernel-DevTest.csv')


####행 이름 decolex처럼 변경하기####

#첫 행 살리기
col_rgx = re.compile(r'[A-Za-z]{6,}[:\.]?')
first = list(df.columns)
df.loc[0] = first
for val in first:
    m = col_rgx.match(val)
    if m:
        x = first.index(val)
        first[x] = np.nan
    else:
        continue
df.loc[0] = first

# 행 이름 설정해주기
col_nme = ['Lemma','Category']

l = len(df.columns)
for i in range(1, l - 1):
    info = 'morph' + str(i)
    col_nme.append(info)

df.columns = col_nme

In [32]:
df

,Lemma,Category,morph1,morph2,morph3,morph4,morph5,morph6,morph7,morph8,...,morph54,morph55,morph56,morph57,morph58,morph59,morph60,morph61,morph62,morph63
0,가게,NS01,ZNZ,LEO,SLB,HAL,MCO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,가결,NS03,ZNZ,LEO,SLB,PHV,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,가계,NS01,ZNZ,LEO,SLB,NAB,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,가곡,NS02,ZNX,PXN,NZX,SLB,LEO,HAL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,가공,NS02,ZNM,LEO,SLB,PSN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,XCUL,XSIN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,동사,NS01,ZNZ,LEO,SLB,NAB,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,동산,NS02,ZNX,PXN,NZX,SLB,LEO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,동상,NS02,ZNX,SXN,NZX,SLB,LEO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,XCUL,XECO,NaN,NaN,NaN
1996,동생,NS02,ZNZ,LEO,SLB,MCO,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,XSWN,NaN,NaN,NaN,NaN,NaN
1997,동선,NS02,ZNZ,LEO,SLB,PHV,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for x in range(1, l - 1):
    col_val = df['info'+str(x)].tolist()
print(col_val[:3])

[nan, nan, nan]

In [4]:
import pandas as pd
import numpy as np
import os, re

df = pd.read_csv(r'E:\Programming\python\NLP\DecoLexO\DecoLexO\Edit\example\DECO-Ver5.2-NS-2019-Kernel-DevTest.csv')


####행 이름 decolex처럼 변경하기####

#첫 행 살리기
col_rgx = re.compile(r'[A-Za-z]{6,}[:\.]?')
first = list(df.columns)
df.loc[0] = first
for val in first:
    m = col_rgx.match(val)
    if m:
        x = first.index(val)
        first[x] = np.nan
    else:
        continue
df.loc[0] = first

df = df.fillna('')
#행 이름 설정해주기
col_nme = ['Lemma','Category']

sem_rgx = re.compile(r'[Q][A-Z]{4}')

l = len(df.columns)
z = len(df.index)
val = df.values.tolist()
print(val[:10])

for x in val:
    for y in x:
        sem = sem_rgx.match(y)
        if sem:
            num = x.index(y)
            
        else:
            continue

[['가게', 'NS01', 'ZNZ', 'LEO', 'SLB', 'HAL', 'MCO', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가결', 'NS03', 'ZNZ', 'LEO', 'SLB', 'PHV', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가계', 'NS01', 'ZNZ', 'LEO', 'SLB', 'NAB', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가곡', 'NS02', 'ZNX', 'PXN', 'NZX', 'SLB', 'LEO', 'HAL', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가공', 'NS02', 'ZNM', 'LEO', 'SLB', 'PSN', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'QHUM', '', '', '', '', '', '', '', '', '', '', '', '', 'XQFT', '', '', '', '', '', '', '', 'XCUL', 'XSIN', '', '', ''], ['가관', 'NS02', 'ZNZ', 'LEO', 'SLB', 'NAB', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가구', 'NS01', 'ZND', 'LEO', 'SLB', 'MES', 'NOU', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가난', 'NS02', 'ZNZ', 'LEO', 'SLB', 'PHA', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가능', 'NS02', 'ZNM', 'LEO', 'SLB', 'MDN', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['가닥', 'NS02', 'ZND', 'LEO', 'SLB', 'MES', 'NOU', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']]

In [42]:
df = df.fillna('')
sem_rgx = re.compile(r'[Q][A-Z]{3}')  #semantic tagset
syn_rgx = re.compile(r'[Y][A-Z]{3}')  #syntactic tagset
dom_rgx = re.compile(r'[X]{1}[ABCDEFGHIJKLMNOPQRSTUVWYZ]{3}')  #domain tagset
ent_rgx = re.compile(r'[X]{2}[A-Z]{2}') #entity tagset
mor_rgx = re.compile(r'[A-Z]{3}') #morph tagset
seminfo = []
syninfo = []
dominfo = []
entinfo = []
morinfo = []
for x in range(0, l):
    col_val = df.iloc[:, x].tolist()
    for k in col_val:
        sem = sem_rgx.match(k)
        syn = syn_rgx.match(k)
        dom = dom_rgx.match(k)
        ent = ent_rgx.match(k)
        mor = mor_rgx.match(k)
        if sem:  ##원하는 테그셋 찾기는 성공
            seminfo.append(k)
        elif syn:
            syninfo.append(k)
        elif dom:
            dominfo.append(k)
        elif ent:
            entinfo.append(k)
        elif mor:
            morinfo.append(k)
        else:
            continue
print(seminfo[-1]) #각 리스트의 0이 처음 등장하는 행, -1이 마지막으로 등장하는 행. 문제는 같은게 겹친다는 것.

QART

In [10]:
df.iloc[:,0]

0       가게
1       가결
2       가계
3       가곡
4       가공
        ..
1993    동사
1994    동산
1995    동상
1996    동생
1997    동선
Name: Lemma, Length: 1998, dtype: object